/* OVERWRITE FOUNDATION */

.centered.columns:last-child {
	float: none;
}

/* CUSTOM STYLES */
body {
	background: url('/static/img/subtle_dots.png');
}

nav.row {
	margin-bottom: 20px;
}

.button {
	box-shadow: none;
}

.thread {
	margin-bottom: 20px;
}

.post {
	background: #515151;
	padding: 20px 20px 0 20px;
}

.reply {
	background: #00B4FF;
	margin-bottom: 1px !important;
	padding: 20px 20px 0 20px;
}

.user_info {
	text-align: center;
}

.username {
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

.time {
	border-top: 1px dotted #EEE;
	margin-top: 15px !important;
	padding-top: 15px;
	text-align: right;
}

.older_post {
	text-align: right;
}
