/* OVERWRITE FOUNDATION */

.centered.columns:last-child {
	float: none;
}

.button,
.button.disabled {
	border-color: #222;
	background: #272822;
}

.button.disabled:hover {
	background: #272822;
}

.button:hover {
	background: #494A44;
}

/* CUSTOM STYLES */
body {
	background: url('/static/img/subtle_dots.png');
}

#banner {
	background: url('/static/img/type.png');
	box-shadow: 0 0 15px;
	margin: 25px 0;
	padding: 75px 0;
	text-align: center;
}

#banner h1 {
	font-family: 'Black Ops One', cursive;
	font-size: 64pt;
}

#banner h1 a {
	color: #EEE;
}

#banner .subheader {
	color: #EEE;
	font-size: 12pt;
}

nav.row {
	margin-bottom: 20px;
}

.button {
	box-shadow: none;
}

.thread {
	margin-bottom: 20px;
}

.post {
	background: #EEE;
	padding: 20px 20px 0 20px;
}

.email_body {
	white-space: pre-wrap;
}

.replies {
	display: none;
}

.show_replies {
	background: #272822;
}

.show_replies a {
	color: #EEE;
	display: block;
	line-height: 50px;
}

.reply {
	border: 1px solid #272822;
	border-top: none;
	padding: 20px 20px 0 20px;
}

.user_info {
	text-align: center;
}

.username {
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

.time {
	border-top: 1px dotted #272822;
	margin-top: 15px !important;
	padding-top: 15px;
	text-align: right;
}

.older_post {
	text-align: right;
}

.center {
	text-align: center;
}

.avatar {
	margin-top: 20px;
}
