{# vim: set sw=2 ts=2 softtabstop=2 autoindent smartindent: #}
<!doctype html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>
			USACS
		</title>

		<link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css' />
		<link rel='stylesheet' type='text/css' href='/static/css/foundation.min.css' />
		<link rel='stylesheet' type='text/css' href='/static/css/styles.css' />

	</head>
	<body>
		<!-- HEADER -->
		<header id='banner'>
			<h1>USACS</h1>
			<p class='subheader'>Undergraduate Student Alliance of Computer Scientists</p>
		</header>
		<!-- END HEADER -->

		<nav class='row'>
			<div class='six column'>
				<a href='/{{ page_num - 1 }}' class='medium round button {% if page_num == 1 %} disabled {% endif %}'>&larr; Newer posts</a>
			</div>
			<div class='six column older_post'>
				<a href='/{{ page_num + 1 }}' class='medium round button {% if page_num == num_pages %} disabled {% endif %}'>Older posts &rarr;</a>
			</div>
		</nav>

		{% for thread in threads %}
		<div class='row thread'>
			{% for post in thread %}
				{% if loop.first %}
					<div class='row'>
						<div class='twelve columns post'>
							<div class='row'>
								<div class='two columns user_info'>
									<img src='{{ post._from.gravatar_url() }}' alt='{{ post._from.name }}' />
									<span class='username'> {{ post._from.name }}</span>
								</div>
								<div class='ten columns'>
									<div class='row'>
										<div class='twelve columns'>
											<h2>{{ post.subject }}</h2>
											<p>{{ post.text }}</p>
										</div>
									</div>
								</div>
							</div>
							<div class='time row'>
								<div class='twelve columns'>
									<p>{{ post.time.strftime('%m/%d/%Y %I:%M%p') }}</p>
								</div>
							</div>
						</div>
					</div>
					{% if loop.length > 1 %}
						<div class='row show_replies'>
							<div class='eleven centered columns center'>
								<a href='#'>Show replies</a>
							</div>
						</div>
					{% endif %}
				{% else %}
					<div class='row replies'>
						<div class='eleven centered columns reply'>
							<div class='row'>
								<div class='two columns user_info'>
									<img src='{{ post._from.gravatar_url() }}' alt='{{ post._from.name }}' />
									<span class='username'> {{ post._from.name }}</span>
								</div>
								<div class='ten columns'>
									<p>{{ post.text }}</p>
								</div>
							</div>
							<div class='time row'>
								<div class='twelve columns'>
									<p>{{ post.time.strftime('%m/%d/%Y %I:%M%p') }}</p>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		{% endfor %}

		<nav class='row'>
			<div class='six column'>
				<a href='/{{ page_num-1 }}' class='medium round button {% if page_num == 1 %} disabled {% endif %}'>&larr; Newer posts</a>
			</div>
			<div class='six column older_post'>
				<a href='/{{ page_num+1 }}' class='medium round button {% if page_num == num_pages %} disabled {% endif %}'>Older posts &rarr;</a>
			</div>
		</nav>

		<script src='/static/js/jquery.js'></script>
		<script src='/static/js/app.js'></script>

	</body>
</html>
